$accent-color: #72AAFF;
$black-text: #000;
$white-text: #fff;
$gray-tertiary: #A9A9A9;
$dark-gray-tertiary: #6E6E6E;
$dark-blue: #080914;

$media-full-hd: 1921px;
$media-ht: 1440px;
$media-vt: 992px;
$media-mobile: 550px;